#application {
    width: 75%;
    float: right;
    margin-bottom: 20px;
    li {
        margin-right: 1%;
        border: 1px solid black;
    }
    li:hover {
        background-color: #A6AAAB;
    }
    li.active {
        background-color: darken(#A6AAAB, 20%);
    }
    h4 {
        font-weight: bold;
        margin-left: 10px;
    }
    .chart-grouping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .chart {
            width: 50%;
        }
    }
    .chart {
        margin: 5px 0;
    }
    button {
        border-radius: 5px;
        background-color: lightgrey;
        float: right;
        margin-top: 6px;
        margin-right: 1%;
    }
}
