#application {
    width: 75%;
    float: right;
    margin-bottom: 20px;
    li {
        &:hover {
            background-color: #80cbc4;
        }
        &.active {
            background-color: #4db6ac;
        }
    }
    h4 {
        font-weight: bold;
        margin-left: 10px;
    }
    .chart-grouping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .chart {
            width: 50%;
        }
    }
    .chart {
        margin: 5px 0;
    }
    button {
        border-radius: 5px;
        background-color: lightgrey;
        float: right;
        margin-top: 6px;
        margin-right: 1%;
    }
}
