#subnav {
    position: absolute;
    left: 0;
    top: 80px;
    height: 56px;
    border-top: 1px solid white;
    li {
        margin-left: 1%;
        a {
            font-size: 15px;
        }
    }
}

#application {
    width: 100%;
    float: right;
    margin-bottom: 20px;
    button {
        border-radius: 5px;
        background-color: lightgrey;
        float: right;
        margin-top: 6px;
        margin-right: 1%;
    }
    h4 {
        font-weight: bold;
        margin-left: 10px;
    }
    #appBody {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // .chart-grouping {
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     .chart {
        //         width: 50%;
        //     }
        // }
        .chart {
            margin: 5px;
        }
        bug-list {
            width: 24%;
        }
        .charts-container {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;

           .inner-container {
                height: auto;
                width: 100%;
                margin-bottom: 0 !important;
           }
        }

    }
}
