.home-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    #home-main {
        height: 600px;
        background-image: url(/images/home1.jpg);
        background-size: 100%, cover;
        background-repeat: no-repeat;
        .home-message {
            margin-left: 1%;
            width: 35%;
            display: flex;
            flex-direction: column;
            .home-text {
                margin-top: 80px;
                text-align: center;
                color: white;
            }
            h1 {
                margin-bottom: 70px;
            }
            .btn {
                width: 50%;
                margin: 10% auto;
            }
        }
    }
    .column-info {
        margin-top: 4%;
        margin-bottom: 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .material-icons {
            font-size: 48px;
            width: 100%;
            text-align: center;
        }
        h3 {
            text-align: center;
            font-weight: bold;
        }
    }
    .how-it-works {
        background-color: #009688;
        height: 100px;
        color: white;
        h2 {
            padding-top: 1%;
            text-align: center;
        }
        .guide-button {
            width: 100%;
            text-align: center;
            a {
                color: white;
            }
        }
    }
}
