#detail-page {
    width: 90%;
    margin: 0 auto;
    hr {
    	border-color: black;
    }
}

#details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .section {
        width: 30%;
        border: 2px solid black;
        padding: 20px;
        p {
            border: 1px solid black;
            text-align: center;
        }
    }
    img {
        width: 100%;
    }
    h3,
    h4 {
        text-align: center;
        border: 1px solid black;
    }
    #developer-assignment {
        display: flex;
        justify-content: space-between;
    }
}
