$body-color: #eee;
body {
  background-color: $body-color;
}

#detail-page {
  margin: 0 auto;
  width: 90%;
}

.image-section {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.section {
  display: inline;
  float: right;
  padding: 20px;
  width: 100%;
  p {
    text-align: center;
  }
}

.reported-bug-screenshot {
  border: 0;
  max-width: 100%;
}

.card {
  h4 {
    text-align: center;
  }
  a {
    margin: 0 auto;
    width: 100%;
  }
}
