<div id='bug-sidebar' class='list-group'>
    <h4>Current Bugs</h5>
    <div id="select-status">
        <h5>Status</h6>
        <select ng-model='filterVal'>
            <option value=''>All</option>
            <option value='new'>New</option>
            <option value='in-progress'>In Progress</option>
            <option value='resolved'>Resolved</option>
        </select>
    </div>
<div>
    <div id='bug-list' class="scrollable">
        <bug-detail ng-repeat="bug in bugList | filter: bug.status =filterVal | orderBy:'-id'" class="list-group-item"></bug-detail>
    </div>
</div>

</div>
<!-- need to add ability to show all after filter applied -->
