<section id="application">
    <ul class="nav nav-tabs">
        <li ng-class="{active: currentApp(app)}" ng-repeat='app in allApps'><a ui-sref='indvApp({appID: app.id})'>{{app.name}}</a></li>
    </ul>
    <h4>{{appData.name}}</h4>
    <!-- <div ng-model='appSelection' ng-repeat="app in allApps" value={{app.id}}>{{app.name}}
    </div> -->
    <!--    <select ng-model='appSelection'>
        <option ng-repeat="app in allApps" value={{app.id}}>{{app.name}}</option>
    </select> -->
    <div id="line-chart"></div>
    <div id="bar-chart"></div>
    <div id="pie-chart"></div>
    <div id="spline-chart-time"></div>
    <div id="priority-pie-chart"></div>
    <div id="path-pie-chart"></div>
    <div id="pie-bug-stats"></div>
    <div id="workload-chart"></div>
    <!-- <div>{{bugList}}</div> -->
</section>
<bug-list bugList='bugList'></bug-list>
<button ui-sref='appUsers({appID: appData.id})'>User Management</button>
