nav {
    display: block;
    .container {
        width: 91%;
        padding-top: 20px;
        .login-button {
            color: white !important;
            float: right;
            border: 1px solid white;
            margin-top: 10px;
            background: none;
            outline: none !important;
        }
    }
    fullstack-logo {
        margin-top: 5px;
        margin-right: 20px;
        width: 40px;
    }
    .nav > li > a {
        cursor: pointer;
        transition: color 0.2s;
        font-size: 16px;
        &.active {
            color: darken(#838785, 30%) !important;
            background-color: transparent;
        }
        &:hover {
            color: #B2DFDB !important;
        }
        &:focus {
            background: none;
        }
    }
    .welcome {
        float: right;
        margin-top: 12px;
        span {
            color: white;
            font-size: 16px;
            margin-right: 5px;
        }
        a {
            color: white;
            cursor: pointer;
        }
    }
}
