<ul class="nav nav-tabs" id="subnav">
    <li ng-class="{active: currentApp(app)}" ng-repeat='app in allApps'><a ui-sref='indvApp({appID: app.id})'>{{app.name}}</a></li>
    <button class="btn btn-primary-outline waves-effect move-button" ng-show='currentAdmin()' ui-sref='appUsers({appID: appData.id})'>User Management</button>
</ul>
<div id="detail-page">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
    <div>
        <h4>Bug #{{ bugDetails.id }}</h4>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div>
                        <bug-list bugList='bugList'></bug-list>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bug-container">
                        <!--Card image-->
                        <img ng-class="class" ng-click="enlargeImage()" class="img-fluid reported-bug-screenshot" height="300" width="500" data-ng-src="{{bugDetails.img_val}}" alt="Reported bug screen shot">
                        <!--/.Card image-->
                        <!--Card content-->
                        <div>
                            <!--Title-->
                            <h4 class="card-title">Reported Bug Screenshot</h4>
                            <!--Text-->
                            <div class="button-holder">
                                <h5>Click the screenshot to toggle enlarged image</h5>
                            </div>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-lg-5">
                    <div class="report-info">
                        <!-- comments -->
                        <div id="commentary-section">
                            <h3>Report Information</h3>
                            <div id="comments">
                                <h5>Developer Comments</h5>
                                <textarea rows="4" cols="50" name="devComments" ng-model="devComments"></textarea>
                            </div>
                        </div>
                        <div class="mdl-selectfield" id="developer-assignment">
                            <div id="bug-priority">
                                <h5>Priority</h5>
                                <select name="priority" id="priority" ng-options="priority for priority in priorities" ng-model="selectedPriority"></select>
                            </div>
                            <div id="assignment">
                                <h5>Assignment</h5>
                                <select name="assignment" id="assignment" ng-options="assignment for assignment in assignments" ng-model="selectedAssignment"></select>
                            </div>
                            <div id="status">
                                <h5>Status</h5>
                                <select name="status" id="status" ng-options="status for status in statuses" ng-model="selectedStatus"></select>
                            </div>
                            <div id="difficulty">
                                <h5>Difficulty</h5>
                                <select name="difficulty" id="difficulty" ng-options="difficulty for difficulty in difficulties" ng-model="selectedDifficulty"></select>
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="update(selectedPriority, selectedAssignment, selectedStatus, selectedDifficulty, devComments)">Update</button>
                            <button class="btn btn-primary" type="submit" ng-show="userData[0].github_id !== null" ng-click="addIssue()">Add Issue to GitHub</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 report-stats-table">
                    <table class="table">
                        <h3>Report Statistics</h3>
                        <thead>
                            <tr>
                                <th>Bug Property</th>
                                <th>Bug Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Reporter Comments</td>
                                <td>{{ bugDetails.formComments }}</td>
                            </tr>
                             <tr>
                                <td>Reporter Email</td>
                                <td>{{ bugDetails.formEmail}}</td>
                            </tr>
                            <tr>
                                <td>Developer Comments</td>
                                <td>{{ bugDetails.devComments }}</td>
                            </tr>
                            <tr>
                                <td>Browser:</td>
                                <td>{{ bugDetails.browser }}</td>
                            </tr>
                            <tr>
                                <td>Browser Version:</td>
                                <td>{{ bugDetails.browserVer }}</td>
                            </tr>
                            <tr>
                                <td>Do Not Track:</td>
                                <td>{{ bugDetails.doNotTrack }}</td>
                            </tr>
                            <tr>
                                <td>Cookie Enabled:</td>
                                <td>{{ bugDetails.cookieEnabled}}</td>
                            </tr>
                            <tr>
                                <td>App Version:</td>
                                <td>{{ bugDetails.appVersion }}</td>
                            </tr>
                            <tr>
                                <td>Platform:</td>
                                <td>{{ bugDetails.platform }}</td>
                            </tr>
                            <tr>
                                <td>Host Name:</td>
                                <td>{{ bugDetails.hostName }}</td>
                            </tr>
                            <tr>
                                <td>Path Name:</td>
                                <td>{{ bugDetails.pathName }}</td>
                            </tr>
                            <tr>
                                <td>Href:</td>
                                <td>{{ bugDetails.href }}</td>
                            </tr>
                            <tr>
                                <td>Protocol:</td>
                                <td>{{ bugDetails.protocol }}</td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Console Logs:</td>
                                <td><pre>{{ logs }}</pre></td>
                            </tr>
                            <tr>
                                <td>Priority:</td>
                                <td>{{ bugDetails.priority }}</td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>{{ bugDetails.status }}</td>
                            </tr>
                            <tr>
                                <td>Assignment:</td>
                                <td>{{ bugDetails.assignment }}</td>
                            </tr>
                            <tr>
                                <td>Difficulty Level:</td>
                                <td>{{ bugDetails.difficulty }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
