#subnav {
    position: absolute;
    left: 0;
    top: 80px;
    height: 56px;
    border-top: 1px solid white;
    li {
        margin-left: 1%;
        a {
            font-size: 15px;
        }
    }
}

#user-management {
    width: 90%;
    margin: 6% auto;
    h4,
    h6 {
        margin-left: 2%;
    }
    table {
        background-color: white;
        .table-top {
            background-color: #009688;
        }
    }
    th {
        text-align: center;
        color: white;
        font-weight: normal;
    }
    td {
        text-align: center;
    }
    .success-alert {
        width: 30%;
        height: 70px;
        margin: 0 auto;
        text-align: center;
        background-color: #00C851;
        span {
            float: right;
            margin-right: 1%;
        }
        p {
            display: inline-block;
            color: white;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    #add-user {
        width: 40%;
        margin: 0 auto;
        background-color: white;
        padding: 0 2%;
        h4 {
            text-align: center;
        }
        .success-alert {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            background-color: #00C851;
            span {
                float: right;
                margin-right: 1%;
            }
            p {
                display: inline-block;
                color: white;
                font-weight: bold;
                margin-top: 0;
            }
        }
        .user-type {
            text-align: center;
        }
        label {
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: -10px;
            transition: 0.2s ease all;
        }
        input:focus ~ label,
        input:valid ~ label {
            top: -30px;
            font-size: 14px;
            color: #009688;
        }
        .form-bar {
            position: relative;
            display: block;
            width: 50%;
            margin: 0 auto;
        }
        .form-bar:before,
        .form-bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 8px;
            position: absolute;
            background: #009688;
            transition: 0.2s ease all;
        }
        .form-bar:before {
            left: 50%;
        }
        .form-bar:after {
            right: 50%;
        }
        input:focus ~ .form-bar:before,
        input:focus ~ .form-bar:after {
            width: 100%;
        }
        .form-highlight {
            position: absolute;
            height: 60%;
            width: 100px;
            top: 15%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
        input:focus ~ .form-highlight {
            animation: inputHighlighter 0.3s ease;
        }
        @-webkit-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        @-moz-keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        @keyframes inputHighlighter {
            from {
                background: #5264AE;
            }
            to {
                width: 0;
                background: transparent;
            }
        }
        .button {
            text-align: center;
            margin-top: 1%;
            button {
                color: #009688;
            }
        }
    }
}
