* {
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  width: 92%;
}

@import 'directives/main';
@import 'applications/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'newApplication/main';
@import 'bug-details/main';
@import 'bugs/main';
@import 'singleApp/main';
@import 'signup/main';