.success-alert {
        width: 30%;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        background-color: #00C851;
        p {
            margin-top: 15px;
            display: inline-block;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }
    }